<a href="https://colab.research.google.com/github/akanksha1055/submission-python/blob/main/labassignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)To implement all arithmetic , logical and relational opertors in pyhton

In [2]:
a = 10
b = 20

# arithmetic operataions
print ('Sum: ', a + b)  
print ('Subtraction: ', a - b)   
print ('Multiplication: ', a * b)  
print ('Division: ', a / b) 
print ('Floor Division: ', a // b)
print ('Modulo: ', a % b)  
print ('Power: ', a ** b)   

#relational operators
print('a > b :' , a>b)
print('a < b :' , a<b)
print('a >= b :' , a>=b)
print('a <= b :' , a<=b)
print('a == b :' , a==b)
print('a != b :' , a!=b)

#logical operators
alpha = True
beta = False

print(('alpha AND beta :', alpha and beta))
print(('alpha OR beta :' ,alpha or beta))
print(('NOT beta :' ,not beta))

Sum:  30
Subtraction:  -10
Multiplication:  200
Division:  0.5
Floor Division:  0
Modulo:  10
Power:  100000000000000000000
a > b : False
a < b : True
a >= b : False
a <= b : True
a == b : False
a != b : True
('alpha AND beta :', False)
('alpha OR beta :', True)
('NOT beta :', True)

2) To check number is even or odd

In [3]:

num = int(input("Enter a number: "))
if (num % 2) == 0:
   print(num , " is Even")
else:
   print(num, " is Odd")

Enter a number: 307836
307836  is Even

3) A: To check greater of two numbers
   B: To check greater of three numbers

In [4]:
#largest among two numbers
num1 = int(input("Enter a number: "))
num2 = int(input("Enter a number: "))

if (num1 >= num2) and (num1 >= num3):
   Maxi = num1
else:
   Maxi = num2

print("The largest number is", Maxi)
45634567
#largest among three numbers
num1 = int(input("Enter a number: "))
num2 = int(input("Enter a number: "))
num3 = int(input("Enter a number: "))

if (num1 >= num2) and (num1 >= num3):
   Maxi = num1
elif (num2 >= num1) and (num2 >= num3):
   Maxi = num2
else:
   Maxi = num3

print("The largest number is", Maxi)

Enter a number: 10456
Enter a number: 23456
The largest number is 23456
Enter a number: 23456
Enter a number: 567
Enter a number: 234567
The largest number is 234567

4) To check number is prime or composite

In [8]:
num = int(input("Enter a number: "))
flag = False

if num == 1:
    print(num, "is neither a prime nor composite number")
elif num > 1:
    
    for i in range(2, num):
        if (num % i) == 0:
            flag = True
            break

    if flag is True:
        print(num, "is composite number")
    else:
        print(num, "is a prime number")

Enter a number: 7
7 is a prime number

5)To print all odd and even numbers in a range

In [15]:
N = int(input("Enter the range :"))

for i in range (1 , N+1 ):
  if (i % 2) == 0:
   print(i , " is Even")
   i += 1
  else:
   print(i, " is Odd")
   i+=1

Enter the range :10
1  is Odd
2  is Even
3  is Odd
4  is Even
5  is Odd
6  is Even
7  is Odd
8  is Even
9  is Odd
10  is Even

6) to print all prime numbers in a range

In [16]:
lower = 1
upper = 100

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 1 and 100 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

7) To find reverse of a number

In [20]:
num = int(input("Enter a number: "))
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num = num// 10

print("Reversed Number: ",reversed_num)

Enter a number: 123456
Reversed Number:  654321

8) To find number is Palindrome or not

In [26]:
num = int(input("Enter a number: "))
originalnum = num
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num = num// 10

if ( originalnum == reversed_num) :
  print(reversed_num , "is a palindrome number")
else :
  print(reversed_num , "is a not a palindrome number")

Enter a number: 1331
1331 is a palindrome number

9) To check number is armstrong or not

In [33]:
num = int(input("Enter a number: "))

sum = 0
n = len(str(num))
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** n
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

10) To print all armstrong numbers in a range

In [43]:
lower = int(input("Enter a lower limit of range: "))
Upper = int(input("Enter a Upper limit of range: "))

for num in range (lower , Upper+1) :
  sum = 0
  n = len(str(num))
  temp = num
  while temp > 0:
    digit = temp % 10
    sum += digit ** n
    temp //= 10

  if num == sum:
   print(num)

Enter a lower limit of range: 100
Enter a Upper limit of range: 1000
153
370
371
407

11)To find sum of first N natural numbers

In [ ]:
num = int(input("Enter a number: "))

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

12) To find factorial of a given number

In [ ]:
num = int(input("Enter a number: "))

factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

13)To print fibonacci series upto n terms

In [44]:

nterms = int(input("How many terms? "))

n1, n2 = 0, 1
count = 0

if nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

14) To check year is a leap or not

In [45]:
year = int(input("Enter a year: "))

if (year % 400 == 0) and (year % 100 == 0):
    print(year , "is a leap year ")
elif (year % 4 ==0) and (year % 100 != 0):
    print(year , "is a leap year ")
else:
    print(year , "is a not leap year ")

Enter a year: 2024
2024 is a leap year

15) To print temperature in F or C & vice versa

In [47]:
celsius = float(input("Enter the temperature in celsius : "))

fahrenheit = (celsius * 1.8) + 32
print("Temperature in fahrenheit :" , fahrenheit)

fahrenheit = float(input("Enter the temperature in fahrenheit : "))

celsius = (fahrenheit - 32) / 1.8
print("Temperature in celsius :" , celsius)

Enter the temperature in celsius : 37.5
Temperature in fahrenheit : 99.5
Enter the temperature in fahrenheit : 99.5
Temperature in celsius : 37.5

16)To print alll factors of given number using function

In [48]:
num = int(input("Enter a number: "))
print("Factors of ",num , "are :")
for i in range (1 , num+1):
  if( num % i == 0 ):
    print(i)

Enter a number: 10
Factors of  10 are :
1
2
5
10

17)To convert decimal to binary , octal and hexadecimal with library function

In [50]:
decimal = int (input("Enter the number in decimal : "))

print("decimal number :",decimal )
print(bin(decimal), "in binary.")
print(oct(decimal), "in octal.")
print(hex(decimal), "in hexadecimal.")

Enter the number in decimal : 344
decimal number : 344
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

18) To factorial of a number using function

In [53]:
def fact(num) :
  factorial = 1
  for i in range(1,num + 1):
       factorial = factorial*i
  return factorial 


num = int(input("Enter a number for factorial :"))

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", fact(num))

Enter a number for factorial :5
The factorial of 5 is 120

19)To print fibonacci series using recursion

In [2]:
def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms = int(input("enter number of terms in fabonacci series :"))

print("Fibonacci sequence:")
for i in range(nterms):
    print(recur_fibo(i))

enter number of terms in fabonacci series :10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

20) To find factorial of a number using recursion

In [3]:
def recur_factorial(n):
   if n == 1:
       return n
   else:
       return n*recur_factorial(n-1)

num = int(input("Enter a number for factorial :"))

if num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of", num, "is", recur_factorial(num))

Enter a number for factorial :5
The factorial of 5 is 120

21) To find sum of first n natural number using recursion

In [4]:

def sum(n):
   if n <= 1:
       return n
   else:
       return n + sum(n-1)

num = int(input("Enter a number :"))
if num < 0:
   print("Enter a positive number")
else:
   print("The sum is",sum(num))

Enter a number :10
The sum is 55

22)To convert decimal number to binary using recursion

In [10]:
decimal_number = int(input("Enter a number :"))

def getbinary(number):
    if number == 0:
        return 0 

    ans = getbinary(number // 2)
      
    return number % 2 + 10 * ans

print(getbinary(decimal_number))

Enter a number :5
101

23) To display powers of 2 using anynomous function

In [8]:
number = int(input("Enter a number :"))

ans = list (map (lambda x : 2**x, range(number+1)))

for i in range(number+1):
   print(ans[i])

Enter a number :10
1
2
4
8
16
32
64
128
256
512
1024

24) To find area of triangle , circle , cylinder using lambda function

In [14]:
import math
h = int(input("Enter triangle's height length: "))
b = int(input("Enter triangle's breadth length: "))
Tarea = lambda b , h : 0.5 * b * h  
print(Tarea(b , h))

h = int(input("Enter cylinder's height length: "))
r = int(input("Enter cylinder's radius: "))
cyn_area = lambda r , h : math.pi* r * r * h  
print(cyn_area(r,h))

r = int(input("Enter circles's radius: "))
c_area = lambda r : math.pi*r*r
print(c_area(r))

Enter triangle's height length: 10
Enter triangle's breadth length: 20
100.0
Enter cylinder's height length: 20
Enter cylinder's radius: 10
6283.185307179587
Enter circles's radius: 10
314.1592653589793

25) To add two matrices

In [15]:
X = [[10,20,30],
    [1 ,2,3],
    [100 ,200,300]]

Y = [[10,20,30],
    [1 ,2,3] ,
    [100 ,200,300]]

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

for i in range(len(X)):
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]

for r in result:
   print(r)

[20, 40, 60]
[2, 4, 6]
[200, 400, 600]

26) To multiply two matrices

In [16]:
X = [[1,2,3],
    [1,2,3],
    [1,2,3]]

Y = [[1,2,3,4],
    [1,2,3,4],
    [1,2,3,4]]

result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

for i in range(len(X)):
   for j in range(len(Y[0])):
       for k in range(len(Y)):
           result[i][j] += X[i][k] * Y[k][j]

for r in result:
   print(r)

[6, 12, 18, 24]
[6, 12, 18, 24]
[6, 12, 18, 24]

27) To transpose a matrix

In [17]:
X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[0,0,0],
         [0,0,0]]

for i in range(len(X)):
   for j in range(len(X[0])):
       result[j][i] = X[i][j]

for r in result:
   print(r)

[12, 4, 3]
[7, 5, 8]

28) To find average of a numeric list.

In [57]:
from statistics import mean
 
def Average(lst):
    return mean(lst)
lst = [15, 9, 55, 41, 35, 20, 62, 49]
average = Average(lst)
print("Average of the list =", round(average, 2))

Average of the list = 35.75

29) To access members of list using different variation of slice operation

In [33]:
my_first_list = [1,2,3, 'Studytonight', 1.23]

print(my_first_list[-1]) 
                                                 
print(my_first_list[-3]) 
                         
print(my_first_list[3:]) 
                         
print(my_first_list[ : 4])

print(my_first_list[1 : 4])
                           
print(my_first_list[-3:-1])
                      
print(my_first_list[0:6])  

print(my_first_list[ :: 2]) 

print(my_first_list[ :: -1])

print(my_first_list[0 : 3 : 1])

1.23
3
['Studytonight', 1.23]
[1, 2, 3, 'Studytonight']
[2, 3, 'Studytonight']
[3, 'Studytonight']
[1, 2, 3, 'Studytonight', 1.23]
[1, 3, 1.23]
[1.23, 'Studytonight', 3, 2, 1]
[1, 2, 3]

30) To concatenate two lists

In [38]:
list_1 = [1, 'a']
list_2 = [3, 4, 5]

list_joined = list_1 + list_2
print(list_joined)


list_2.extend(list_1)
print(list_2)

list_1 = [10, 20 ]
list_2 = range(2, 4)

list_joined = [*list_1, *list_2]
print(list_joined)

[1, 'a', 3, 4, 5]
[3, 4, 5, 1, 'a']
[10, 20, 2, 3]

31) To find index of specific element and print no. of occurences

In [ ]:
my_list = [1, 2, 3, 1, 5, 4]
 
num = 1
occ = 0
list_size = len(my_list) 
print("Present on indices :")
for itr in range(list_size):
 
    if(my_list[itr] == num):
 
        print(itr)
        occ +=1

print("no. of occurences : ",occ)

32) To identify duplicates in a list

In [62]:
l=[1,2,3,4,5,2,3,4,7,9,5]
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
    else:
        print(i,end=' ')

2 3 4 5

33) To iterate over dictionary using for loop (with and without inbuilt methods

In [53]:
dt = {'a': 'juice', 'b': 'grill', 'c': 'corn'}
#with inbuilt method
for key, value in dt.items():
    print(key, value)

#without inbuilt method
for key in dt:
    print(key, dt[key])

a juice
b grill
c corn
a juice
b grill
c corn

34) To illustrate nested dictionary

In [54]:
people = {1: {'name': 'John', 'age': '27', 'gender': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'gender': 'Female'}}

print(people[1]['name'])
print(people[1]['age'])
print(people[1]['gender'])


for p_id, p_info in people.items():
    print("\nPerson ID:", p_id)
    
    for key in p_info:
        print(key + ':', p_info[key])

John
27
Male

Person ID: 1
name: John
age: 27
gender: Male

Person ID: 2
name: Marie
age: 22
gender: Female

35) To sort the dictionary a:  according to keys b : according to values

In [55]:
d = {3:'Akanksha',5:'Pal',1:'good ',0:'first'}

# sorted acc to keys
print(sorted(d))

# sorted acc to values
print(sorted(d.values()))

[0, 1, 3, 5]
['Akanksha', 'Pal', 'first', 'good ']